body {
    background-image: url("../../assets/images/connectwork.png");
    color : white;
}

.withBoarder {
    border: 1px solid white;
}

span {
    height: 20px;
}

#main-title {
    height: 216px;
    text-align: center;
    padding-top: 44px;
    font-size: 121px;
    font-family: 'Fredericka the Great', cursive;
}

#subtitle {
    font-size: 40px;
    text-align: center;
    transform: rotate(-11deg);
    color : red;
    position: relative;
    top: -45px;
    font-family: 'Merienda', cursive;
}

#banner {
    font-weight: bold;
    font-size: 28px;
    color: red;
    text-align: center;
    padding-top: 15px;
}


#new-word-btn {
    font-weight: bold;
    font-size: 28px;
    color: blue;
    padding:  10px;
    text-align: center;
    margin-top: 20px;
}

.gameBoard {
    height: 35px;
    font-size: 20px;
}

.maskFormat {
    height: 67px;;
    font-size: 38px;
}

img {
    height: 300px;
    width: 300px;
}