.head-class {

}

.main-class {

}

div {
    border: 1px solid red;

}

span {
    height: 20px;
}
#main-title {
    height: 216px;
    text-align: center;
    padding-top: 80px;
    font-size: 50px;
}

#banner {
    font-weight: bold;
    font-size: 28px;
    color: red;
    text-align: center;
    padding-top: 15px;
}


#new-word-btn {
    font-weight: bold;
    font-size: 28px;
    color: blue;
    padding:  10px;
    margin: 20px 110px;
}